

.container-fluid {
  margin-top: 50px;
  text-align: center
}

* {
  box-sizing: border-box;
  background-color: rgb(146, 143, 143);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #f0f0f0;
}
.layout {
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {

  width: 300px;
  height: 500px;
  margin-left: 180px;
  margin-top: 10px;
  border: 4px solid;

}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  border: 1px solid;
}

.card:hover .overlay {
  opacity: 1;
}

h3, h1, h4 {
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  font-weight: bold;
  color:rgb(9, 10, 10);
}

.fa-solid {
  text-align: center;
}

.card-content {
  align-items: center;
}