<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
  <div class="container-fluid">
    <body>
      <div class="layout">
        <div class="card">
          <div class="card-content mt-5">
            <h3>Your Queue Number</h3>
            <h4>DENTIST</h4>
            <h1>D001</h1>
            <i class="fa-solid fa-house-chimney-medical fa-2xl"></i>
            <p>thank you for queuing</p>
          </div>
          <div class="overlay">Please wait untill your number is called</div>
        </div>       
      </div>
    </body>
  </div>
  <app-footer></app-footer>

