<p>request-queue-number works!</p>

<!-- <div class="container">
  <div formGroupName="patientdata">
    <h5>Patient Register</h5>
    <div class="row">
      <div class="col-md-6 me-3">
        <div class="row">
          <label for="first-name">Full Name (*required) </label>
          <input id="first-name" type="text" formControlName="firstName" />
        </div>
        <div class="row">
          <label for="fathers-name">Father's Name </label>
          <input id="fathers-name" type="text" formControlName="fathersname" />
        </div>
        <div class="row">
          <label for="mothers-name">Mother's Name (*required) </label>
          <input id="mothers-name" type="text" formControlName="mothersname" />
        </div>
        <div class="row">
          <label for="coup-name">Husband's/Wife's Name </label>
          <input id="coup-name" type="text" formControlName="coupname" />
        </div>
        <div class="row">
          <label for="coup-name">Date of Birth (*required) </label>
          <input id="coup-name" type="text" formControlName="coupname" />
        </div>
        <div class="row">
          <label for="coup-name">Place of Birth (*required) </label>
          <input id="coup-name" type="text" formControlName="coupname" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <label for="coup-name">Address (*required) </label>
          <input id="coup-name" type="text" formControlName="coupname" />
        </div>
        <div class="row">
          <label for="street">Street </label>
          <input id="street" type="text" formControlName="street" />
        </div>
        <div class="row">
          <label for="city">City </label>
          <input id="city" type="text" formControlName="city" />
        </div>
        <div class="row">
          <label for="state">State </label>
          <input id="state" type="text" formControlName="state" />
        </div>
        <div class="row">
          <label for="zip">Zip Code </label>
          <input id="zip" type="text" formControlName="zip" />
        </div>
        <div class="row">
          <label for="coup-name">Phone Number </label>
          <input id="coup-name" type="text" formControlName="coupname" />
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary mb-3"><i class="fa-solid fa-plus"></i></button>
</div> -->