<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: rgb(230, 225, 218);">
  <div class="container-fluid ms-3">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <i class="fa-solid fa-hospital"></i>
        <h4 class="ms-2">HOSPITAL</h4>
    </div>
    </div>
    <div>
      <i class="fa-solid fa-calendar-day"></i>
    </div>
    <div class="top-section ms-2">
      <h6>{{ dateTime | date: 'medium' }}</h6>
    </div>
  </div>
</nav>
