<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<div class="content-wrapper">
  <div class="container">
    <table class="table1">
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Father's Name</th>
        <th>Mother's Name</th>
        <th>Husband's/Wife's Name</th>
        <th>Gender</th>
        <th>Date of Birth</th>
        <th>Place of Birth</th>
        <th>Address</th>
        <th>Region</th>
        <th>Zip</th>
        <th>Phone Numb</th>
        <th>Identity Card Numb</th>
        <th>Guarantee</th>
        <th>Health Service</th>
        <th>Date</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Tisyalabibah</td>
        <td>Randy Muflih</td>
        <td>Nurani</td>
        <td>-</td>
        <td>Female</td>
        <td>4th October 1889</td>
        <td>Cianjur</td>
        <td>Kp. Pungkur</td>
        <td>Jawa Barat, Indonesia</td>
        <td>43253</td>
        <td>0878780999908</td>
        <td>324544544444567777</td>
        <td>General</td>
        <td>Dentist</td>
        <td></td>
      </tr>
    </table>	
  </div>
</div>

