<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<div class="content-wrapper">
  <div class="container">
    <div class="card" style="width: 18rem">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" style="background-color: rgb(235, 155, 101);"><a href="">General</a></li>
        <li class="list-group-item" style="background-color: rgb(177, 173, 169);"><a href="">ENT</a></li>
        <li class="list-group-item" style="background-color: bisque;;"><a href="">Dentist</a></li>
      </ul>
    </div>
    <table>
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Father's Name</th>
        <th>Mother's Name</th>
        <th>Husband's/Wife's Name</th>
        <th>Gender</th>
        <th>Date of Birth</th>
        <th>Place of Birth</th>
        <th>Address Number</th>
        <th>Region</th>
        <th>Zip</th>
        <th>Phone Number</th>
        <th>Religion</th>
        <th>Identity Card Number</th>
        <th>Guarantee</th>
        <th>Health Service</th>
        <th>Date</th>
      </tr>
    </table>
  </div>
</div>

