<div id="wrapper">
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav" style="position: fixed !important">
          <li class="sidebar-brand mt-5">
              <a href="#">
                  Menu
              </a>
          </li>
          <li>
              <a routerLink="/input-visitor-details" >Register</a>
          </li>
          <li>
              <a routerLink="/visitor-list">Patient List</a>
          </li>
          <li>
              <a href="#">Queue Number</a>
          </li>
      </ul>
  </div>
</div>
