<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav" style="position: fixed !important">
      <li class="nav-header mt-5">
        <i class="fa-duotone fa-square-list"></i>
      </li>
      <li>
        <a
          routerLinkActive="active"
          class="nav-link"
          routerLink="/input-visitor-details"
          >Register</a
        >
      </li>
      <li>
        <a routerLinkActive="active" class="nav-link" routerLink="/visitor-list"
          >Patient List</a
        >
      </li>
      <li>
        <a
          routerLinkActive="active"
          class="nav-link"
          routerLink="/request-queue-number"
          >Queue Number</a
        >
      </li>
    </ul>
  </div>
</div>
